# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
node/node_modules
target
dist/

# testing
/coverage

# translation files
/public/i18n

# production
/build
/serverBuild
src/**/*.css
!src/assets/maintenance/*
aemconfig/

# default page cache directories
/cache
/cache-control

# config files
/src/server/config.json
/src/sw-config.js
``
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.iml
