<div *ngIf="isEmpty; then placeHolderBlock else componentBlock"></div>

<ng-template #placeHolderBlock>
    <core-placeholder componentTitle="ImageV2"></core-placeholder>
</ng-template>

<ng-template #componentBlock>
    <div *ngIf="hasLink; else staticBlock" [ngClass]="ddCssClass">
        <a href="{{link}}">
            <img [attr.src]="src" class="{{baseCssCls}}__image" alt="{{alt}}"/>
            <meta *ngIf="hasTitle" itemprop="caption" content="Component">
        </a>
    </div>
    
    <ng-template #staticBlock>
        <div [ngClass]="ddCssClass">
            <img [attr.src]="src" class="{{baseCssCls}}__image" alt="{{alt}}" />
            <meta *ngIf="hasTitle" itemprop="caption" content="Component">
        </div>
    </ng-template>
</ng-template>

